.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

@font-face {
    font-family: 'PressStart2P';
    src: url('/PressStart2P-Regular.ttf') format('ttf');
  }