---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">En Proceso</div>
  </div>

  <HorizontalCard
    title="Bitacora EloyChavezDev"
    img="/Bitacora_EloyChavezDev.png"
    desc="¡Sumérgete en mi mundo personal con mi nueva web de bitácora! Desde emocionantes series que veo hasta pensamientos íntimos, comparto mi vida de manera única y visualmente atractiva. ¡Acompáñame en este viaje digital!"
    url="https://bitacora.eloychavez.dev/"
    badge="2024"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Newsletter LinkedIn"
    img="/Newsletter_EloyChavezDev.png"
    desc="Creación y gestión de un newsletter, donde aprovecho mi enfoque creativo para ofrecer contenido relevante y estimulante. Mi pasión por la tecnología y la narrativa digital me impulsa a continuar explorando nuevas formas de generar impacto."
    url="https://www.linkedin.com/newsletters/7097609236016242688/"
    badge="2023"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="CM Instituto Americano Enfermería"
    img="/Instituto_Americano_Celaya.jpg"
    desc="Dirijo la comunidad en línea en Facebook con entusiasmo y profesionalismo. A través de estrategias de contenido cautivador y participación activa, cultivo un espacio donde los seguidores no solo se informan, sino que también se sienten valorados y escuchados. Mi objetivo es crear un ambiente digital enriquecedor donde las interacciones fluyan y la marca se destaque."
    url="https://www.facebook.com/InstitutoAmericanoEnfermeria"
    badge="2023"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Finalizados</div>
  </div>
  <HorizontalCard
  title="San Valentin 2024"
  img="/valentin24.png"
  desc="Este proyecto es una tarjeta de San Valentín interactiva desarrollada en JavaScript.Un mensajito único y especial para su ser querido."
  url="https://valentin24.eloychavez.dev/"
  badge="2024"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Website Instituto Americano"
    img="/Instituto_Americano.png"
    desc="Diseñé y desarrollé un sitio web dinámico y funcional para una institución educativa, ofreciendo a estudiantes, padres y personal acceso intuitivo a información clave, recursos educativos y noticias relevantes en un entorno en línea amigable y atractivo."
    url="https://instituto-americano.edu.mx/"
    badge="2021-2023"
  />
</BaseLayout>
