---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Services Header</div>
  </div>

  <HorizontalCard
    title="Twitch"
    img="/EloyChavezDev_Twitch.png"
    desc="Mi canal es un espacio donde la creatividad y la interacción se unen para brindar experiencias únicas. Únete a mí mientras exploramos juntos juegos fascinantes, compartimos consejos tecnológicos y creamos una comunidad vibrante."
    url="https://www.twitch.tv/eloychavez_dev"
    badge="288 Followers"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Youtube"
    img="/EloyChavezDev_Youtube.png"
    desc="Aquí encontrarás una fusión única entre mi pasión tecnológica y mi creatividad inagotable.  Desde análisis de las últimas tendencias tecnológicas hasta emocionantes aventuras de videojuegos, mi canal ofrece una experiencia enriquecedora para mentes curiosas y amantes de la innovación."
    url="https://www.youtube.com/@eloychavezdev"
    badge="87 Subscribers"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="X"
    img="/EloyChavezDev_X.jpeg"
    desc="Aquí encontrarás pensamientos intrigantes sobre tecnología, actualizaciones sobre mis proyectos."
    url="https://twitter.com/EloyChavezDev"
    badge="321 Followers"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="LinkedIn"
    img="/EloyChavezDev_LinkedIn.jpg"
    desc="Mi enfoque se centra en convertir desafíos en oportunidades, utilizando la tecnología como herramienta para generar un impacto significativo en proyectos diversos. Desde la creación de soluciones digitales hasta la exploración de las últimas tendencias tecnológicas, mi objetivo es compartir conocimientos y experiencias que inspiren y transformen."
    url="https://www.linkedin.com/in/eloychavezdev/"
    badge="151 Followers"
  />
</BaseLayout>
