<div class="search-container">
  <div id="search"></div>
</div>

<script>
  // Cargar el script de Pagefind de manera dinámica
  window.addEventListener('load', () => {
    const script = document.createElement('script');
    script.src = '/_pagefind/pagefind-ui.js';
    script.onload = () => {
      new window.PagefindUI({ element: "#search", bundlePath: "/_pagefind/", pageSize: 5 });
    };
    document.head.appendChild(script);
  });
</script>

<style>
  .search-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
</style> 